footer {
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 15px 0;

  p {
    font-size: 14px;
    color: rgba(22,39,54,0.64);
    margin: 0;
  }
}

@media all and (min-width: 900px) {
  footer {
    margin-top: 60px;
    padding: 20px 0;
  }
}